<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxOXXtQtSnImURgrVq6PpcVcyXJ17x6B-KMw&s">
    <title>NexGen</title>
    <style>
        /* For testing hover effects */
        .button {
            background-color: black;
            color: white;
            padding: 18px;
            margin:5px;
            border: none;
            cursor:pointer/;
        }
        .button:hover {
            background-color: #E5E7EB; /* Tailwind color slate-50 */
            color: black;
        }
    </style>
</head>
<body class="bg-gray-800">
    <div class="flex h-[100vh] text-white">
        <aside class="left bg-black w-2/12">left</aside>
        <main class="right bg-gray-900 w-10/12 flex justify-center items-center flex-col">
            <h1 class="text-center w-full text-4xl font-bold">NexGen</h1>
            <div class="itemsrow flex w-[53vw] bg-gray-900 justify-around">
                <div class="One-ClickSEO flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="plain-icon-color h-8 w-8 stroke-[1.5]">
                        <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                        <path d="M9 7l6 0"></path>
                        <path d="M9 11l6 0"></path>
                        <path d="M9 15l4 0"></path>
                    </svg>
                    <div>One-Click SEO</div>
                    <button class="button">Provide a professional, well-formatted SEO report with actionable insights and explanations. (based on the URL of the target page)</button>
                </div>

                <div class="ArticleRival flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="plain-icon-color h-8 w-8 stroke-[1.5]">
                        <path d="M20 11a8.1 8.1 0 0 0 -6.986 -6.918a8.095 8.095 0 0 0 -8.019 3.918"></path>
                        <path d="M4 13a8.1 8.1 0 0 0 15 3"></path>
                        <path d="M19 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M5 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    </svg>
                    <div>Article Rival</div>
                    <button class="button">Provide a professional, well-formatted SEO report with actionable insights and explanations. (based on the URL of the target page)</button>
                </div>

                
                <div class="Strategy-for-Keywords flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="plain-icon-color h-8 w-8 stroke-[1.5]">
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M3.6 9h16.8"></path>
                        <path d="M3.6 15h16.8"></path>
                        <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                        <path d="M12.5 3a17 17 0 0 1 0 18"></path>
                    </svg>
                    <div>Strategy for Keywords</div>
                    <button class="button">Provide a professional, well-formatted SEO report with actionable insights and explanations. (based on the URL of the target page)</button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
